@import "../../../styles/colors.scss";

.input {
  width: 100%;
  padding: 8px 32px 8px 8px;
  border: 1px solid $color-grey-two;
  border-radius: 8px;
  direction: rtl;
  background-color: var(--backgroun-color);
  color: var(--text-color);
  &::placeholder {
    color: var(--text-color);
  }
  &:focus {
    outline: none;
  }
}
